body{

    overflow: hidden;
    background:#F3E5F5;
    width: 100%;
}

.for-faculty{

    background:#F8BBD0;
}

.for-faculty ul li a{

    color:black;
}
.for-faculty a{

    color:black;
}

.post-form{

    padding: 10em;
}
.lecture-form{
    padding: 10em;
}
.admin-block{
    width: 20em;
    height: 15em;
    box-shadow: 1px 2px 3px #B39DDB;
    text-align: center;
    padding: 6.4em;

}




