body{

    background:#F3E5F5;

}

.for-faculty{

    /*background:#F8BBD0;*/
    background: #673AB7;
    box-shadow: 1px 2px 3px #E3F2FD;
}

.for-faculty ul li a{

    color:white;
}
.for-faculty a{

    color:white;
}

/*.post-form{*/

    /*padding: 10em;*/
/*}*/
.lecture-form{
    padding: 5em;
}







