body{

    background:#F3E5F5;

}

.for-faculty{

    background:#F8BBD0;
    box-shadow: 1px 2px 3px #D1C4E9;
}

.for-faculty ul li a{

    color:black;
}
.for-faculty a{

    color:black;
}

.post-form{

    padding: 10em;
}
.lecture-form{
    padding: 10em;
}






