.subject-form{

    margin-top: 12em;
    width: 100%;
    margin-left: 10em;

}
.admin-block{

    margin: auto;

    width: 290px;
    height: 170px;
    background:#EDE7F6;
    text-align: center;
    padding: 5.2em;
    box-shadow: 3px 3px 3px #888888;
}
